<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h4>Product</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="productCode">Code Sản Phẩm </label>
                            <input type="productCode" class="form-control" formControlName="productCode" name="productCode" id="productCode" placeholder="Nhập code sản phẩm">
                            
                        </div>
                        <div class="form-group">
                            <label for="productName">Tên Sản Phẩm </label>
                            <input type="productName" class="form-control" formControlName="productName" name="productName" id="productName" placeholder="Nhập tên sản phẩm">
                           
                        </div>
                        <div class="form-group">
                            <label for="description">Mô Tả</label>
                            <input type="description" class="form-control" formControlName="description" name="description" id="description" placeholder="Nhập tên mô tả">
                           
                        </div>
                        <div class="form-group">
                            <label for="price">Giá </label>
                            <input type="price" class="form-control" formControlName="price" name="price" id="price" placeholder="Nhập giá">
                           
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-info btn-block">Login</button>
                    </form>
                </div>                    
            </div>
        </div>
    </div>
</div>
