<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h4>Edit Unit</h4>
                </div>
                <div class="card-body">
                    <form (submit)="editPost()" (ngSubmit)="onSubmit()" [formGroup]="editForm">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" formControlName="name" id="name" [(ngModel)]="postData.name" name="name">
                            <span class="text-danger" *ngIf="editForm.controls.name.invalid && (editForm.controls.name.dirty || editForm.controls.name.touched)">
                                <span *ngIf="editForm.controls.name.errors?.required">Vui lòng nhập name</span>
                                <span *ngIf="editForm.controls.name.errors?.minlength">Tối thiểu (5 kí tự)</span>
                                <span *ngIf="editForm.controls.name.errors?.maxlength">Tối đa (20 kí tự)</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" formControlName="address" id="address" [(ngModel)]="postData.address" name="address">
                            <span class="text-danger" *ngIf="editForm.controls.address.invalid && (editForm.controls.address.dirty || editForm.controls.address.touched)">
                                <span *ngIf="editForm.controls.address.errors?.required">Vui lòng nhập address</span>
                                <span *ngIf="editForm.controls.address.errors?.minlength">Tối thiểu (5 kí tự)</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" formControlName="description"  id="description" [(ngModel)]="postData.description" name="description">
                            <span class="text-danger" *ngIf="editForm.controls.description.invalid && (editForm.controls.description.dirty || editForm.controls.description.touched)">
                                <span *ngIf="editForm.controls.description.errors?.required">Vui lòng nhập description</span>
                                <span *ngIf="editForm.controls.description.errors?.minlength">Tối thiểu (5 kí tự)</span>
                            </span>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
